<div class="content has-text-centered">
  <h1 class="title">Welcome</h1>
  <p>Hello, my name is Masen and I'm a fleging software developer based in Portland, Oregon.</p>

  <p>When it comes to technology, I'm primarily interested in front end web development, UI/UX, and accessibility. Outside of that, I'm passionate about building inclusive communities, helping others, and learning more about how people can collectively fight inequalities, embrace sustainability, and move society in a positive direction.</p>

  <p>I currently co-run a Meetup called Portland Future Leaders In Tech (pdxFLIT), which hosts monthly events in the area. You can check it out <a href="https://www.meetup.com/pdxFLIT-Portland-Future-Leaders-In-Tech/">here</a>. Outside of the professional world, I spend my time playing guitar, going to shows, running, doing yoga, exploring, and doing a wide variety of other things.</p>

  <p>Thanks for stopping by - feel free to take a look around!</p>
</div>
