// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
  background-color: black;
}

.navbar a {
  color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: black;
    text-align: center;
}

.title {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}
